<!DOCTYPE html>

<html lang="en">
  <head>
    <partial src="head.html"></partial>
    <title>OpenHAB Vue</title>
  </head>
  <body>
    <!-- <nav-ajax-page-load></nav-ajax-page-load> -->
    <header></header>
    <main>
      <div id="appz">
        <el-button @click="visible = true">Button</el-button>
        <el-dialog :visible.sync="visible" title="Hello world">
          <p>Try Element</p>
        </el-dialog>
      </div>
      <!-- <oh-vue-bind model="things"></oh-vue-bind>
        <oh-vue-list>
          <div slot="app"></div>
          <template slot="list">
            <ul slot="app">
                <oh-vue-list-item v-for="thing in things" :key="thing.UID" :listitem="thing"></oh-vue-list-item>
            </ul>
          </template>
          <template slot="item">
              <li>{{ listitem.UID }}</li>
          </template>
        </oh-vue-list> -->
      <oh-vue-bind model="items" for="ohlist"></oh-vue-bind>
      <div><p>Hello world!</p></div>
      <oh-vue-list id="ohlist">
        <div slot="app"></div>
        <template slot="list">
          <ul>
            <p>
              <button @click="sortItems(['state','name'], ['asc', 'asc'])">sort</button>
              <button @click="filterItems({ name: item => item.name.startsWith('VT_MQTT_') })">filter</button>
              Total number of items: <span v-format.bold>{{ itemCount }}</span>
            </p>
            <oh-vue-list-item v-for="item in items" :key="item.name" :list-item="item"></oh-vue-list-item>
          </ul>
        </template>
        <template slot="item">
          <li v-highlight-on-change="listItem.state">
            {{ listItem.name }}: state = {{ listItem.state }} (isGroup={{ isGroup }})
            <!-- <select name="newValue" @change="sendCommand($event)" class="form-control">
              <option value="10">10%</option>
              <option value="20">20%</option>
              <option value="30">30%</option>
              <option value="40">40%</option>
              <option value="50">50%</option>
            </select> -->
            <!-- <button v-on:click="sendCommand">sendCommand</button> -->
          </li>
        </template>
      </oh-vue-list>
    </main>
    <footer></footer>
  </body>
  <script>
      new Vue({
        el: '#appz',
        data: function() {
          return { visible: false }
        }
      })
    </script>
</html>
