<!-- Meta tags -->
<meta charset="utf-8" />
<meta name="description" content="OpenHAB Vue" />
<meta name="author" content="B. van Wetten" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

<!-- Favicons -->
<partial src="favicons.html"></partial>

<!-- Styles -->
<link rel="stylesheet" href="css/main.css" type="text/css" />

<!-- Scripts -->
<script type="module" src="js/app.js" async></script>
<script type="module" src="js/vue.js" async></script>
<script type="module" src="js/components.js" async></script>
<script type="module" src="js/uicomponents.js" async></script>
